<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { ITask } from '@/typings/interfaces';
import { MutationsEnum } from '@/typings/enums';

@Component
export default class Task extends Vue {
  @Prop()
  private task?: ITask;
  private onClick() {
    this.$store.commit(MutationsEnum.UPDATE_TODO, this.task);
  }
  private removeTodo() {
    this.$store.commit(MutationsEnum.REMOVE_TODO, this.task);
  }
}
</script>

<template>
  <div class="task" :class="{ 'task_is-done': task.isDone }" @click="onClick">
    <div class="task__label">{{ task.label }}</div>
    <div class="task__remove-btn" @click.stop="removeTodo"></div>
  </div>
</template>

<style scoped lang="scss">
.task {
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);

  &_is-done {
    text-decoration: line-through;
  }
  &__label {
    margin-right: 20px;
  }
  &__remove-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-left: auto;
    position: relative;
    flex: none;
  }
  &__remove-btn::before,
  &__remove-btn::after {
    content: '';
    height: 2px;
    width: 50%;
    background-color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: rotate(45deg);
  }
  &__remove-btn::after {
    transform: rotate(-45deg);
  }
}
</style>
