<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ToDo from '@/components/ToDo/index.vue';

@Component({
  components: { ToDo },
})
export default class Home extends Vue {}
</script>

<template>
  <div class="home"><to-do></to-do></div>
</template>

<style scoped lang="scss"></style>
