<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ITask } from '@/typings/interfaces';

import Task from './components/Task/index.vue';
import TaskInput from './components/TaskInput/index.vue';

@Component({
  components: {
    Task,
    TaskInput,
  },
})
export default class ToDo extends Vue {
  // private tasks: ITask[] = [];

  get tasks(): ITask[] {
    return this.$store.state.tasks;
  }

  // private mounted() {
  //   this.tasks = [
  //     {
  //       label: 'Wake up',
  //       isDone: true,
  //     }
  //   ];
  // }
}
</script>

<template>
  <div class="todo">
    <task :key="index" v-for="(task, index) in tasks" :task="task"></task>
    <task-input></task-input>
  </div>
</template>

<style scoped lang="scss">
.todo {
  padding: 45px 15px;
  background-color: #eaf2f8 ;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 5px;
  min-height: 100%;
}
</style>
