<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { clickOutside } from '@/directives';
import { ActionsEnum } from '@/typings/enums';
import { ITask } from '@/typings/interfaces';

@Component({
  directives: { clickOutside },
})
export default class TaskInput extends Vue {
  public $refs!: {
    input: HTMLFormElement;
  };

  private value: string = '';
  private showInput: boolean = false;

  private addToDo() {
    if (this.showInput && this.value) {
      this.$store.dispatch(ActionsEnum.ADD_TODO, { label: this.value, isDone: false } as ITask);
      this.value = '';
    }
    this.showInput = false;
  }

  private async onShowInput() {
    this.showInput = true;
    await this.$nextTick();
    this.$refs.input.focus();
  }
}
</script>

<template>
  <div class="task-input">
    <input
      v-if="showInput"
      ref="input"
      type="text"
      v-model="value"
      @keydown.enter="addToDo"
      v-click-outside="addToDo"
      class="task-input__input"
    />
    <div class="task-input__add-new" @click="onShowInput" v-else>Add new</div>
  </div>
</template>

<style scoped lang="scss">
.task-input {
  &__add-new {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px dashed #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  &__input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
</style>
