<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AppHeader extends Vue {}
</script>

<template>
  <div class="app-header">
    ToDoZaurus <img :src="require('@/assets/svg/tyrannosaurus-rex.svg')" class="app-header__icon" />
  </div>
</template>

<style scoped lang="scss">
.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: #111;
  height: 60px;

  &__icon {
    max-width: 38px;
    margin-top: -5px;
    margin-left: 5px;
  }
}
</style>
