<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AppHeader from '@/components/AppHeader/index.vue';

@Component({
  components: {
    AppHeader,
  },
})
export default class App extends Vue {}
</script>

<template>
  <div id="app" class="app">
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px;
  background-color: #fff;
}
</style>
